# asterix board configuration

CONFIG_I2C=y
CONFIG_I2C_NRF5=y

CONFIG_UART=y
CONFIG_UART_NRF5=y
CONFIG_VIBE=y
CONFIG_VIBE_DRV2604=y

CONFIG_PMIC=y
CONFIG_PMIC_NPM1300=y

CONFIG_AMBIENT_LIGHT=y
CONFIG_AMBIENT_LIGHT_OPT3001=y

CONFIG_MIC=y
CONFIG_MIC_NRF5=y

CONFIG_TEMPERATURE=y
CONFIG_TEMPERATURE_STUB=y

CONFIG_DISPLAY=y
CONFIG_DISPLAY_SHARP_LS013B7DH01_NRF5=y

CONFIG_FLASH=y
CONFIG_FLASH_GD25LQ255E=y

CONFIG_BATTERY=y
CONFIG_BATTERY_PMIC=y

CONFIG_PRESSURE=y
CONFIG_PRESSURE_BMP390=y
