# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menu "Normal"

rsource "activity/Kconfig"
rsource "alarms/Kconfig"
rsource "app_cache/Kconfig"
rsource "app_fetch_endpoint/Kconfig"
rsource "app_glances/Kconfig"
rsource "app_inbox_service/Kconfig"
rsource "app_message/Kconfig"
rsource "app_order_endpoint/Kconfig"
rsource "app_outbox_service/Kconfig"
rsource "audio_endpoint/Kconfig"
rsource "blob_db/Kconfig"
rsource "comm_session/Kconfig"
rsource "contacts/Kconfig"
rsource "data_logging/Kconfig"
rsource "filesystem/Kconfig"
rsource "health_sync_endpoint/Kconfig"
rsource "legacy/Kconfig"
rsource "music/Kconfig"
rsource "notifications/Kconfig"
rsource "orientation_manager/Kconfig"
rsource "persist/Kconfig"
rsource "phone_call/Kconfig"
rsource "powermode_service/Kconfig"
rsource "process_management/Kconfig"
rsource "protobuf_log/Kconfig"
rsource "send_text_service/Kconfig"
rsource "services_normal/Kconfig"
rsource "settings/Kconfig"
rsource "speaker/Kconfig"
rsource "stationary/Kconfig"
rsource "timeline/Kconfig"
rsource "timezone_database/Kconfig"
rsource "vibes/Kconfig"
rsource "voice/Kconfig"
rsource "voice_endpoint/Kconfig"
rsource "wakeup/Kconfig"
rsource "weather/Kconfig"

endmenu
