# getafix_evt board configuration

CONFIG_I2C=y
CONFIG_I2C_SF32LB=y

CONFIG_UART=y
CONFIG_UART_SF32LB=y

CONFIG_LED_CONTROLLER=y
CONFIG_LED_CONTROLLER_AW9364E=y
CONFIG_VIBE=y
CONFIG_VIBE_AW8623X=y

CONFIG_PMIC=y
CONFIG_PMIC_NPM1300=y

CONFIG_AMBIENT_LIGHT=y
CONFIG_AMBIENT_LIGHT_W1160=y

CONFIG_MIC=y
CONFIG_MIC_SF32LB=y
