# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_CRON
    bool "Cron"
    help
      Cron-like scheduler for periodic jobs.

if SERVICE_CRON

module = SERVICE_CRON
module-str = Cron
source "src/fw/Kconfig.template.log_level"

endif
