# snowy_dvt board configuration

CONFIG_I2C=y
CONFIG_I2C_STM32F4=y

CONFIG_UART=y
CONFIG_UART_STM32F4=y
CONFIG_VIBE=y
CONFIG_VIBE_PWM=y

CONFIG_PMIC=y
CONFIG_PMIC_MAX14690=y

CONFIG_AMBIENT_LIGHT=y
CONFIG_AMBIENT_LIGHT_STM32F4=y
