# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menu "Drivers"

rsource "ambient/Kconfig"
rsource "i2c/Kconfig"
rsource "led_controller/Kconfig"
rsource "mic/Kconfig"
rsource "pmic/Kconfig"
rsource "uart/Kconfig"
rsource "vibe/Kconfig"

endmenu
