# silk board configuration

CONFIG_I2C=y
CONFIG_I2C_STM32F4=y

CONFIG_UART=y
CONFIG_UART_STM32F4=y
CONFIG_VIBE=y
CONFIG_VIBE_PWM=y

CONFIG_PMIC=y
CONFIG_PMIC_AS3701B=y

CONFIG_AMBIENT_LIGHT=y
CONFIG_AMBIENT_LIGHT_STM32F4=y

CONFIG_MIC=y
CONFIG_MIC_STM32F4_DFSDM=y

CONFIG_TEMPERATURE=y
CONFIG_TEMPERATURE_STM32F4=y

CONFIG_DISPLAY=y
CONFIG_DISPLAY_SHARP_LS013B7DH01=y

CONFIG_FLASH=y
CONFIG_FLASH_MX25U=y

CONFIG_BATTERY=y
CONFIG_BATTERY_STM32F4=y

CONFIG_HRM=y
CONFIG_HRM_STUB=y

CONFIG_ACCEL_BMA255=y

CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_STM32F4=y

CONFIG_EXTI=y
CONFIG_EXTI_STM32F4=y

CONFIG_GPIO=y
CONFIG_GPIO_STM32F4=y

CONFIG_PWM=y
CONFIG_PWM_STM32F4=y

CONFIG_RTC=y
CONFIG_RTC_STM32F4=y
