# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_ACCEL_MANAGER
    bool "Accelerometer manager"
    help
      Accelerometer data subscription manager.

if SERVICE_ACCEL_MANAGER

module = SERVICE_ACCEL_MANAGER
module-str = Accelerometer manager
source "src/fw/Kconfig.template.log_level"

endif
