# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_BLOB_DB
    bool "Blob DB"
    help
      BlobDB (persistent key/value stores used for timeline, notifications,
      apps, contacts, ...).
