# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menuconfig AMBIENT_LIGHT
    bool "Ambient Light Sensor"
    help
      Ambient Light Sensor Drivers

if AMBIENT_LIGHT

config AMBIENT_LIGHT_OPT3001
    bool "TI OPT3001"
    help
      Support for the TI OPT3001 ambient light sensor.

config AMBIENT_LIGHT_W1160
    bool "W1160"
    help
      Support for the W1160 ambient light sensor.

config AMBIENT_LIGHT_STM32F4
    bool "STM32F4 ADC-based"
    help
      Support for STM32F4 ADC-based ambient light sensing.

endif # AMBIENT_LIGHT
