# Raspberry Pi Pico 2 W RP2350 board configuration

CONFIG_SOC_RP2350=y

CONFIG_PLATFORM_FLINT=y

CONFIG_SCREEN_COLOR_DEPTH_BITS_1=y

CONFIG_UART=y
CONFIG_UART_RP2350=y

CONFIG_DISPLAY=y
CONFIG_DISPLAY_SHARP_LS013B7DH01_RP2350=y

CONFIG_FLASH=y
CONFIG_FLASH_RP2350_XIP=y
CONFIG_RP2350_PEBBLE_STORAGE_ONBOARD_XIP=y

CONFIG_OTP=y
CONFIG_OTP_FLASH=y

CONFIG_BATTERY=y
CONFIG_BATTERY_STUB=y

CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_STUB=y

CONFIG_EXTI=y
CONFIG_EXTI_RP2350=y

CONFIG_GPIO=y
CONFIG_GPIO_RP2350=y

CONFIG_RTC=y
CONFIG_RTC_RP2350=y
CONFIG_RP2350_EXTERNAL_RTC_NONE=y

CONFIG_RNG=y
CONFIG_RNG_STUB=y

CONFIG_TEMPERATURE=y
CONFIG_TEMPERATURE_STUB=y

CONFIG_CPUMODE=y
CONFIG_CPUMODE_STUB=y

CONFIG_BT_FW_STUB=y
