# qemu_emery board configuration

CONFIG_UART=y
CONFIG_UART_QEMU=y

CONFIG_DISPLAY=y
CONFIG_DISPLAY_QEMU=y

CONFIG_FLASH=y
CONFIG_FLASH_QEMU=y

CONFIG_BATTERY=y
CONFIG_BATTERY_QEMU=y

CONFIG_TOUCH=y
CONFIG_TOUCH_QEMU=y

CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_QEMU=y

CONFIG_EXTI=y
CONFIG_EXTI_QEMU=y

CONFIG_LED_CONTROLLER=y
CONFIG_LED_CONTROLLER_QEMU=y

CONFIG_GPIO=y
CONFIG_GPIO_QEMU=y

CONFIG_PWM=y
CONFIG_PWM_QEMU=y

CONFIG_RTC=y
CONFIG_RTC_QEMU=y

CONFIG_RNG=y
CONFIG_RNG_STUB=y

CONFIG_TEMPERATURE=y
CONFIG_TEMPERATURE_STUB=y

CONFIG_CPUMODE=y
CONFIG_CPUMODE_STUB=y
