# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menuconfig PMIC
    bool "PMIC"
    help
      PMIC Drivers

if PMIC

config PMIC_AS3701B
    bool "AMS AS3701B"
    help
      Support for the AMS AS3701B PMIC.

config PMIC_MAX14690
    bool "Maxim MAX14690"
    help
      Support for the Maxim MAX14690 PMIC.

config PMIC_NPM1300
    bool "Nordic nPM1300"
    help
      Support for the Nordic nPM1300 PMIC.

endif # PMIC
