# obelix_pvt board configuration

CONFIG_I2C=y
CONFIG_I2C_SF32LB=y

CONFIG_UART=y
CONFIG_UART_SF32LB=y

CONFIG_LED_CONTROLLER=y
CONFIG_LED_CONTROLLER_AW2016=y
CONFIG_VIBE=y
CONFIG_VIBE_AW86225=y

CONFIG_PMIC=y
CONFIG_PMIC_NPM1300=y

CONFIG_AMBIENT_LIGHT=y
CONFIG_AMBIENT_LIGHT_W1160=y

CONFIG_MIC=y
CONFIG_MIC_SF32LB=y

CONFIG_TEMPERATURE=y
CONFIG_TEMPERATURE_SF32LB=y

CONFIG_DISPLAY=y
CONFIG_DISPLAY_JDI_SF32LB=y

CONFIG_FLASH=y
CONFIG_FLASH_GD25Q256E=y

CONFIG_BATTERY=y
CONFIG_BATTERY_PMIC=y

CONFIG_TOUCH=y
CONFIG_TOUCH_CST816=y

CONFIG_HRM=y
CONFIG_HRM_GH3X2X=y

CONFIG_ACCEL_LIS2DW12=y
CONFIG_MAG_MMC5603NJ=y
